h2 {
color: #2c3e50;
font-size: 24px; 
margin: 20px 0;
}
h3 {
    color:#8e44ad;
    font-size:20px;
    text-transform:uppercase;
}
hr {
    border:1 px solid #bdc3c7;
    margin: 30px 0;
}
p {
font-size: 16px; 
line-height: 1.5; 
color: #34495e; 
}
div {
background-color: #ecf0f1; 
padding: 15px; 
border-radius: 5px;
}
span {
color: #e74c3c; 
font-weight: bold; 
}
time {
font-style: italic;
color: #16a085; 
}
img {
max-width: 100%; 
height: auto; 
border: 2px solid #2ecc71; 
}
a{
color:#2980b9;
text-decoration: none; 
}
a:hover {
    text-decoration:underline;
    color:#3498db;
}